.experience_container  {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2rem;
}
.experience_container > div {
    background: linear-gradient(var(--color-primary), rgba(71, 71, 143, 0.88));
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience_container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
}
.experience_container > div h4 {
    color: #011c1c;
}
.experience_container > div:hover h4 {
    color: white;
}
.experience_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.experience_content {
    display:grid;
    grid-template-columns:  1fr ;
    row-gap: 2rem;
}

.experience_details {
    display: flex;
    gap: 1rem;
}

.experience_details-icon,.experience_details-icon-e {
    margin-top: 6px;
    color: #9deeee;

}
.experience_details-icon-e > h4 {
    font-size: 3rem;

}
@media screen and (max-width: 1024px) {
    .experience_container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .experience_container > div {
        width: 90%;
        padding: 1rem 1.5rem 1rem;
        margin: 0 auto;
    }

    .experience_container > div h3 {
        margin-bottom: 1rem;
    }
    .experience_content {
        row-gap: 0.7rem;
    }
    .experience_details-icon-e {
        width: 5%;
        color: var(--color-primary);
    }

}
@media screen and (max-width: 600px) {
    .experience_container {
        grid-template-columns: 1fr;
        gap: 1rem;

    }
    .experience_container > div {
        width: 85%;
        padding: 1rem 2rem;
    }
    .experience_container > div h3 {
        margin-bottom: 1rem;
    }
    .experience_content {
        row-gap: 0.4rem;
    }
    .experience_details-icon-e {
        width: 4.5%;
    }
    section > h2 {
        margin: 1rem 0 2rem!important;
    }
}
@media screen and (max-width: 350px) {
    .experience_container {
        grid-template-columns: 1fr;
        gap: 1rem;

    }
    .experience_container > div {
        width: 90%;
        padding: 1rem 1rem;
    }
    .experience_container > div h3 {
        margin-bottom: 0.6rem;
    }
    .experience_content {
         row-gap: 0.3rem;
     }
    .experience_details-icon-e {
        width: 9%;
    }
}

