.about_container {
    display: flex;
    justify-content: center;
}
.about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.about_card {
    background: linear-gradient(var(--color-primary), rgba(71, 71, 143, 0.88));
    border: 1px solid transparent;
    padding:2rem;
    border-radius: 1rem;
    text-align:center;
    transition: var(--transition);
}
.about_card:hover {
    background:transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
}

.about_icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-botton: 1rem;
}

.about_card h5 {
    font-size: 0.95rem;
    color: white;
}

.about_card small {
    color: var(--color-light);
    font-size: 0.7rem;
}
.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap:0;
    }

    .about_content p {
        margin: 3rem 0 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    .about_cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin: 1.5rem;

    }
    .about_card {
        text-align: center;
        padding: 1.5rem;
    }
    .about_content p {
        margin: 3rem 2rem ;
    }
}
@media screen and (max-width: 350px) {

    .about_cards {
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 1rem;
    }

    .about_card {
        text-align: center;
        padding: 1rem;
    }
    .about_content p {
        margin: 3rem 1rem ;
        font-size: 0.92rem;


    }
}
