
.portfolio_container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
h3 {
    color: white;
}
.portfolio_item {
    background: linear-gradient(var(--color-primary), rgba(71, 71, 143, 0.88));
    padding: 1.3rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition: transparent;
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.img-project {

    width:  100% !important;
    height: 17rem !important;
}
@media screen and (max-width: 1024px) {

    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .img-project {

        width:  100% !important;
        height: 15rem !important;
        margin: 0 !important;
    }

}
@media screen and (max-width: 600px) {
    section {
        height: 145vh!important;
    }

    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }
    .portfolio_container > article {
        width: 92%;
    }
    .portfolio_item {
        padding: 0.7rem;
    }

    .btn {
        padding: 0.4rem!important; ;
    }
}
@media screen and (max-width: 400px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 0.7rem;
    }
    .portfolio_container > article {
        width: 90%;
        margin-left: 1rem;

    }
    .portfolio_item {
        padding: 0.6rem;
    }
    .portfolio_item > h3 {
        margin: 0.5rem 0 0.5rem;
    }


}

